*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --header_color: white;
    --black_cool:rgb(35, 43, 43);
}
::-webkit-scrollbar{
    width: 0.001px;
    background-color: var(--header_color);
}
body{
    background-color: rgb(22, 22, 22);
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: inherit;
}

/* HEADER */

header{
    background: url(img/bg.jpg) fixed;
    background-size: cover;
    position: relative;
    z-index: 1;
    text-align: center;
    width: 100vw;
    height: 100vh;
}
header::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0%;
    background: black;
    opacity: .7;
    z-index:-1;
}
header a{
    text-decoration:none;
    color: var(--header_color);
}
header nav {
    background-color: transparent;
    height: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.toggle{
    font-size: 2.5rem;
    background-color: transparent;
    color: var(--header_color);
    border: none;
    position: absolute;
    display: none;
    width: 100%;
    z-index: 2000;
    cursor: pointer;
}
header nav ul{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
header nav ul li {
    list-style: none;
    margin: 0 3rem;
}
header nav ul h1 {
    color: var(--header_color);
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: 100;
}
header nav ul li a {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: 100;
    border-bottom: 2px solid white;
    transition: all .3s, border-radius .9s;
}
header nav ul li a:hover {
    border-radius: 13px;
    color: var(--black_cool);
    background-color: white;
}
.button{
    position: absolute;
    font-size: 2.2rem;
    margin: 0 auto;
    bottom: 10%;
    right: 49%;
    transition: all 1s;
}
.button:hover{
    transform: translateY(2rem);
}
.text{
    background: rgba(0, 0, 0, .5);
    height: 30%;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: all .3s;
}
.text h1{
    color: var(--header_color);
    font-size: 5rem;
    font-weight: 400;
}
.text h2{
    color: var(--header_color);
    font-size: 1.5rem;
    font-weight: 100;
}



/* MAIN */




/* SECTION ABOUT */



.about{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about hr{
    width: 50%;
    height: .5rem;
    margin-top: 3rem;
    margin-bottom: 2%;
    background: var(--header_color);
    border: none;
    border-radius: 0 7px 0 7px;
}
.favio_container{
    width: 80%;
    height: 40%;
    background-color: rgb(37, 34, 34);
    box-shadow: 10px 10px 117px -42px rgba(56, 54, 58, 0.75);
    border-radius: 190px 0 190px 0;
    margin: 4rem 0 0 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
}
.kind{
    width: 44rem;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.drawing{
    width: 20rem;
    height: 20rem;
    display: inline-block;
    background-color: rgb(37, 34, 34);
    box-shadow: 10px 10px 117px -62px rgba(139, 83, 194, 0.75);
    border-radius: 15px;
    margin: 4rem 0 2rem;
    border-bottom: 10px solid rgb(29, 27, 27);
    user-select: none;
    transition: all .5s;
}
.drawing:hover{
    width: 21rem;
    height: 21rem;
    box-shadow: 10px 10px 117px -42px rgba(92, 53, 131, 0.75), 10px 10px 117px -42px rgba(92, 53, 131, 0.75);
    background-color: rgb(37, 34, 34);
    border-bottom: 3px solid rgb(29, 27, 27);
    border-radius: 15px;
}
.drawing .align_flex i{
    font-size: 7rem;
    color:rgba(131, 41, 221, 0.75);
    transition: all .5s;
}
.drawing:hover .align_flex i{
    font-size: 9rem;
    color: rgb(82, 24, 136);
    padding-top: 2rem;
}
.drawing .align_flex h1{
    font-size: 2rem;
    color: rgba(131, 41, 221, 0.85);
    padding-top:3rem ;
    transition: all .5s;
}
.drawing:hover .align_flex h1{
    font-size: 0;
    padding-top: 3rem;
}

.photography{
    width: 20rem;
    height: 20rem;
    background-color: rgb(37, 34, 34);
    box-shadow: 0px 10px 117px -62px rgba(85, 98, 201, 0.75);
    border-radius: 15px;
    margin: 4rem 0 2rem;
    user-select: none;
    transition: all .5s;
    border-bottom: 10px solid rgb(29, 27, 27);
}
.photography:hover{
    width: 21rem;
    height: 21rem;
    background-color: rgb(37, 34, 34);
    box-shadow: 0px 0px 90px -42px rgba(55, 72, 204, 0.75), 0px 0px 90px -42px rgba(55, 72, 204, 0.75);
    border-bottom: 3px solid rgb(29, 27, 27);
    border-radius: 15px;
}
.photography .align_flex i{
    font-size: 7rem;
    color: rgba(62, 72, 218, 0.75);
    transition: all .5s;
}
.photography:hover .align_flex i{
    font-size: 9rem;
    color: rgba(36, 45, 179, 0.75);
    padding-top: 2rem;
}
.photography .align_flex h1{
    font-size: 2rem;
    padding-top:3rem;
    color: rgba(62, 72, 218, 0.85) ;
    transition: all .5s;
}
.photography:hover .align_flex h1{
    font-size: 0;
    padding-top: 3rem;
}

.align_flex{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
}
.favio_container .favio_img{
    width: 40%;
    height: 100%;
}
.favio_container .favio_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: -2rem 30%;
}
.favio_info{
    width: 60%;
    margin: 3rem 5rem 3rem 2rem;
    border-left: .5rem solid white;
    padding: 1rem 0 1rem 2rem; 
}
.favio_info h1{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--header_color);
}
.favio_info p{
    font-size: 1.2rem;
    color: gray;
}
.favio_info p span{
    font-size: 1.3rem;
    color: rgb(153, 153, 153);
}

/* SECTION GALLERY */
.gallery{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.gallery hr{
    background-color: var(--header_color);
    width: .5%;
    height: 60%;
}
.hr_left{
    margin-left: -2rem;
    margin-right: 2rem;
    border-radius: 10px 0 0 10px;
}
.hr_right{
    margin-left: 2rem;
    margin-right: -2rem;
    border-radius: 0 10px 10px 0;
}

.gallery div{
    background: transparent ;
    width: 23%;
    height: 80%;
    border-radius: 5px;
    position: relative;
    user-select: none;
    text-align: center;
    display: flex;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    transition: all 1s;
    outline: none;
}

.gallery div button{
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
    text-align: center;
    border: none;
    outline: none;
}
.gallery div button h1{
    position: absolute;
    width: 100%;
    font-size: 3.5rem;
    color: var(--header_color);
    z-index: 100;
    transition: all 1s;
    transform: translateY(600%);
}
.gallery div:hover h1{
    transform: translateY(-50%);
}

.gallery div hr{
    border: none;
    width: 100%;
    height: .5rem;
    position: absolute;
    background: var(--header_color);
    z-index: 100;
}
.gallery div .hr_top{
    top: 125%;
    transition: all 1s;
}
.gallery div:hover .hr_top{
    top: 25%;
}
.gallery div .hr_bottom{
    bottom: -75%;
    transition: all 1s;
}
.gallery div:hover .hr_bottom{
    bottom: 25%;
}

.gallery div::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,.5);
    position: absolute;
    transform: translateY(100%);
    transition: 1s;
}
.gallery div:hover:after{
    transform: translateY(0);
}
.gallery .city img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.gallery .desert img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.gallery .draws img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

/* CONTACT SECTION */
.contact{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.contact .container{
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    width: 80%;
    height: 80%;
    background: linear-gradient(90deg, rgba(22,22,22,1) 5%, rgba(30,30,30,1) 50%, rgba(22,22,22,1) 95%);;
}

.contact .container .social{
    width: 40%;
    height: 50%;
    background:transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact .container .social .logos{
    width:18.75rem;
    height: 6.31rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.contact .container .social .logos div{
    margin: 1rem;
}

.contact .container .social .logos .img_instagram{
    width: auto;
    height: 75%;
    display: inline-block;
}
.contact .container .social .logos .img_instagram a img{
    width: 100%;
    height: 100%;
    transition: .5s;
}
.contact .container .social .logos .img_instagram a img:hover{
    filter: contrast(2);
}

.contact .container .social .logos .img_facebook{
    width: auto;
    height: 75%;
    display: inline-block;
}
.contact .container .social .logos .img_facebook a img{
    width: 100%;
    height: 100%;
    transition: .5s;
}
.contact .container .social .logos .img_facebook:hover a img{
    filter: contrast(1.5);
}

.container .social .contact_info{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: gray;
    background: linear-gradient(90deg, transparent 0%, rgba(35,35,35,1) 45%, transparent 100%);;
}

.container .social .contact_info .icons i{
    display: block;
    font-size: 3rem;
    margin: 1rem 0;
    color: #33456F;
}
.container .social .contact_info .icons{
    display: inline-block;
    text-align: center;
    width: 20%;
    
}
.container .social .contact_info .text_info{
    display: inline-block;
    width: 50%;
}
.container .social .contact_info .text_info p{
    font-size: 1.2rem;
    margin: 2rem 0;
}



.contact .container .contact_form{
    width: 55%;
    height: 80%;
    background: transparent;
}
.contact .container .contact_form form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    padding-left: -1rem;
}
.contact .container .contact_form form h1{
    margin-bottom: 3rem;
    font-size: 3.5rem;
    color: #fff;
    padding: 0 1rem;
    border-radius: 3px;
    border-bottom: #fff solid .3rem;
}

.contact .container .contact_form form input{
    display: block;
    outline: none;
    margin-bottom: 1rem;
    height: 2.8rem;
    width: 75%;
    font-size: 1rem;
    padding-left: .5rem;
    border: none;
    border-bottom: #fff solid .3rem;
    background: linear-gradient(180deg, transparent 0%, rgba(60, 60, 60, 0.09) 90%);
    color: gray;
}
.contact .container .contact_form form input:hover{
    background: linear-gradient(180deg, transparent 0%, rgba(60, 60,60, 0.2) 100%);
}
.contact .container .contact_form form input:focus{
    background: linear-gradient(180deg, transparent 0%, rgba(60, 60, 60, 0.2) 100%);
}

.contact .container .contact_form form .submit{
    display: block;
    outline: none;
    margin-bottom: 1rem;
    margin-top: 1rem;
    height: 3rem;
    width: 40%;
    background: transparent;
    padding: 0;
    border:white solid .2rem;
    color: white;
    transition: all .5s;
}

.contact .container .contact_form form .submit:hover{
    color: black;
    background: white;
}

.contact .container .contact_form form textarea{
    outline: none;
    display: block;
    margin-bottom: 1rem;
    width: 75%;
    padding-left: .5rem;
    padding-top: .5rem;
    height: 15rem;
    font-size: 1rem;
    border: none;
    border-bottom: #fff solid .3rem;
    background: linear-gradient(180deg, transparent 0%, rgba(60, 60, 60,.09) 90%);
    resize: none;
    color: gray;
}
.contact .container .contact_form form textarea:hover{
    background: linear-gradient(180deg, transparent 0%, rgba(60, 60, 60, 0.2) 100%);
}
.contact .container .contact_form form textarea:focus{
    background: linear-gradient(180deg, transparent 0%, rgba(60, 60, 60, 0.2) 100%);
    
}
@media screen and (max-width: 1354px) {
    header nav ul li a {
        font-size: 1.3rem;
        font-weight: 100;
    }
    .text{
        background: rgba(0, 0, 0, .4);
    }
    .text h1{
        font-size: 4.5rem;
        font-weight: 400;
    }
    .text h2{
        font-size: 1.3rem;
        font-weight: 100;
    }
    .favio_info p{
        font-size: 1.1rem;
    }
    .favio_info h1{
        font-size: 1.8rem;
    }
    .favio_info p span{
        font-size: 1.2rem;
    }
    .favio_container{
        margin: 4rem 0 0 0;
        border-radius: 170px 0 170px 0;
    }
    .kind{
        width: 38rem;
    }
    .drawing{
        width: 17rem;
        height: 17rem;
        margin: 2rem 0 1rem;
    }
    .drawing:hover{
        width: 18rem;
        height: 18rem;
    }
    .drawing .align_flex i{
        font-size: 6rem;
    }
    .drawing:hover .align_flex i{
        font-size: 8rem;
    }
    
    .photography{
        width: 17rem;
        height: 17rem;
        margin: 2rem 0 1rem;
    }
    .photography:hover{
        width: 18rem;
        height: 18rem;
    }
    .photography .align_flex i{
        font-size: 6rem;
    }
    .photography:hover .align_flex i{
        font-size: 8rem;
    }
    .gallery div button h1{
        font-size: 3rem;
    }
    .container .social .contact_info .text_info p{
        font-size: 0.94rem;
        margin:2rem 0;
    }
    .container .social .contact_info .icons i{
        display: block;
        font-size: 2.8rem;
        margin: 1rem 0;
        color: #33456F;
    }
    .contact .container .contact_form form h1{
        font-size: 3rem;
    }
}
@media  screen and (max-width: 906px) {
    .toggle{
        display: initial;
    }
    .toggle_active{
        background: rgb(22,22,22);
    }
    header nav ul{
        flex-direction: column;
        z-index: 1000;
        position: relative;
        background: rgb(22,22,22);
        margin-top: 47%;
        width: 100%;
        left: 100%;
        display: none;
    }
    .ul_visible{
        display: inherit;
        left: 0;
    }
    header nav ul li:first-child{
        margin-top: 1rem;
    }
    header nav ul li:last-child{
        margin-bottom: 1rem;
    }
    header nav ul li{
        margin-top: 2rem;
    }
    .li_visible{
        display: initial;
    }
    .gallery div button h1{
        font-size: 2.5rem;
    }
    .contact{
        height: 76.5625rem;
    }
    .contact .container{
        height: 90%;
        flex-direction: column;
    }
    .contact .container .social{
        margin: 2rem 0;
        width: 100%;
    }
     
    .contact .container .contact_form{
        width: 100%;
    }
    .contact .container .contact_form form h1{
        font-size: 2.5rem;
    }
    .container .social .contact_info .text_info p{
        font-size: 1.3rem;
    }
}

@media  screen and (max-width: 768px) {

    .about .favio_container{
        width: 90%;
        height: 50%;
        flex-direction: column;
        border-radius: 190px 0 10px 10px;
    }
    .about{
        height: auto;
    }
    .favio_container .favio_img{
        width: 100%;
        height: 20rem;
    }
    .favio_container .favio_img img{
        object-position: 0 30%;
    }
    .favio_info{
        width: 80%;
        margin: 3.5rem 2rem 3rem 1rem;
        padding: 1rem 0 1rem 2.5rem; 
    }
    .kind{
        width: 33rem;
    }
    .drawing{
        width: 15rem;
        height: 15rem;
        margin: 2rem 0 0;
    }
    .drawing:hover{
        width: 15rem;
        height: 15rem;
    }
    .drawing .align_flex i{
        padding-top: 1rem;
        font-size: 5rem;
    }
    .drawing:hover .align_flex i{
        font-size: 6rem;
    }
    .drawing .align_flex h1{
        font-size: 1.6rem;
        padding-top: 1rem;
    }
    
    .photography{
        width: 15rem;
        height: 15rem;
        margin: 2rem 0 0;
    }
    .photography:hover{
        width: 15rem;
        height: 15rem;
    }
    .photography .align_flex i{
        padding-top: 1rem;
        font-size: 5rem;
    }
    .photography:hover .align_flex i{
        font-size: 6rem;
    }
    .photography .align_flex h1{
        font-size: 1.6rem;
        padding-top: 1rem;
    }
    .gallery div a h1{
        font-size: 3rem;
    }
    .about hr{
        margin-top: 2rem;
    }

    .gallery{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .gallery hr{
        background-color: var(--header_color);
        width: .5%;
        height: 60%;
    }
    .hr_left{
        display: none;
    }
    .hr_right{
        display: none;
    }

    .gallery div{
        background: var(--header_color) ;
        width: 80%;
        height: 23%;
        border-radius: 5px;
        position: relative;
        user-select: none;
        display: flex;
        justify-items: center;
        align-items: center;
        overflow: hidden;
        transition: all 1s;
    }

    .gallery div button{
        border: none;
        width: 100%;
        justify-items: center;
        align-items: center;
        text-align: center;
        cursor: pointer;
    }
    .gallery div button h1{
        font-size: 2.4rem;
    }
    .gallery div:hover h1{
        transform: translateY(-50%);
    }

    .gallery div hr{
        border: none;
        width: 100%;
        height: .4rem;
        position: absolute;
        background: var(--header_color);
        z-index: 100;
    }
    .gallery div .hr_top{
        top: 125%;
        transition: all 1s;
    }
    .gallery div:hover .hr_top{
        top: 25%;
    }
    .gallery div .hr_bottom{
        bottom: -75%;
        transition: all 1s;
    }
    .gallery div:hover .hr_bottom{
        bottom: 25%;
    }

    .gallery div::after{
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0,.5);
        position: absolute;
        transform: translateY(100%);
        transition: 1s;
    }
    .gallery div:hover:after{
        transform: translateY(0);
    }
    .gallery .city img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }

    .gallery .desert img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }

    .gallery .draws img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }


}

@media  screen and (max-width: 588px){
  .kind {
    width: 18.505625rem ;
    flex-direction: column;
  }
  .gallery div button h1{
    font-size: 2.3rem;
  }
}

@media  screen and (max-width: 529px){
    .text h1{
        font-size: 4rem;
        font-weight: 400;
    }
    .text h2{
        font-size: 1rem;
        font-weight: 100;
    }
    .contact .container{
        width: 100%;
    }

    .gallery div .hr_top{
        top: 120%;
        transition: all 1s;
    }
    .gallery div:hover .hr_top{
        top: 20%;
    }
    .gallery div .hr_bottom{
        bottom: -80%;
        transition: all 1s;
    }
    .gallery div:hover .hr_bottom{
        bottom: 20%;
    }
    .container .social .contact_info .text_info p{
        font-size: 1rem;
        margin: 1.6rem 0;
    }
    .container .social .contact_info .icons i{
        font-size: 2rem;
        margin: 1rem 0;
    }
    
}
@media screen and (max-width: 320px) {
      .text h1{
        font-size: 3.5rem;
        font-weight: 400;
    }
    .text h2{
        font-size: 0.8rem;
        font-weight: 100;
    }
    .container .social .contact_info .text_info p{
        font-size: 0.8rem;
        margin: 1.4rem 0;
    }
    .container .social .contact_info .icons i{
        font-size: 1.8rem;
        margin: 1rem 0;
    }
}



/* HEIGHT */

@media  screen and (max-height: 680px){
  header nav ul li a {
        font-size: 1.2rem;
        font-weight: 100;
    }
    .text h1{
        font-size: 4rem;
        font-weight: 400;
    }
    .text h2{
        font-size: 1.1rem;
    }
    .button{
        font-size: 2rem;
    }
    .favio_container{
        margin: 2rem 0 0 0;
        border-radius: 170px 0 170px 0;
    }

    .favio_container .favio_info{
        padding: .5rem 0 .5rem 2rem;
    }
    .kind{
        width: 30rem;
    }
    .drawing{
        width: 13rem;
        height: 13rem;
        margin: 2rem 0 0;
    }
    .drawing:hover{
        width: 15rem;
        height: 15rem;
    }
    .drawing .align_flex i{
        padding-top: 1rem;
        font-size: 5rem;
    }
    .drawing:hover .align_flex i{
        font-size: 6rem;
    }
    .drawing .align_flex h1{
        font-size: 1.6rem;
        padding-top: 1rem;
    }
    
    .photography{
        width: 13rem;
        height: 13rem;
        margin: 2rem 0 0;
    }
    .photography:hover{
        width: 15rem;
        height: 15rem;
    }
    .photography .align_flex i{
        padding-top: 1rem;
        font-size: 5rem;
    }
    .photography:hover .align_flex i{
        font-size: 6rem;
    }
    .photography .align_flex h1{
        font-size: 1.6rem;
        padding-top: 1rem;
    }
    .about hr{
        margin-top: 2rem;
    }

    .gallery div button h1{
        font-size: 3rem;
    }
    
    .container .social .contact_info .text_info p{
        font-size: 0.94rem;
        margin:2rem 0;
    }
    .container .social .contact_info .icons i{
        display: block;
        font-size: 2.8rem;
        margin: 1rem 0;
        color: #33456F;
    }
    .contact .container .contact_form form h1{
        font-size: 3rem;
    }
}

@media screen and (max-width: 997px) and (max-height:775px) {
    .favio_container{
        height: 55%;
        margin: 2rem 0 0 0;
        border-radius: 170px 0 170px 0;
    }
    .kind{
        width: 30rem;
    }
    .drawing{
        width: 13rem;
        height: 13rem;
        margin: 1rem 0 0;
    }
    .drawing:hover{
        width: 15rem;
        height: 15rem;
    }
    .drawing .align_flex i{
        padding-top: 1rem;
        font-size: 5rem;
    }
    .drawing:hover .align_flex i{
        font-size: 6rem;
    }
    .drawing .align_flex h1{
        font-size: 1.6rem;
        padding-top: 1rem;
    }
    
    .photography{
        width: 13rem;
        height: 13rem;
        margin: 1rem 0 0;
    }
    .photography:hover{
        width: 15rem;
        height: 15rem;
    }
    .photography .align_flex i{
        padding-top: 1rem;
        font-size: 5rem;
    }
    .photography:hover .align_flex i{
        font-size: 6rem;
    }
    .photography .align_flex h1{
        font-size: 1.6rem;
        padding-top: 1rem;
    }
    .gallery div a h1{
        font-size: 3rem;
    }
}
@media  screen and (max-height: 680px) and (max-width: 440px) {
    
    header nav ul li a {
        font-size: 1.2rem;
        font-weight: 100;
    }
    .text h1{
        font-size: 4rem;
        font-weight: 400;
    }
    .text h2{
        font-size: 1.1rem;
    }
    .button{
        font-size: 2rem;
    }
    .favio_container{
        margin: 2rem 0 0 0;
        border-radius: 170px 0 170px 0;
    }

    .favio_container .favio_info{
        padding: .5rem 0 .5rem 2rem;
    }
    .kind{
        width: 18.505625rem;
    }
    .drawing{
        width: 13rem;
        height: 13rem;
        margin: 2rem 0 0;
    }
    .drawing:hover{
        width: 15rem;
        height: 15rem;
    }
    .drawing .align_flex i{
        padding-top: 1rem;
        font-size: 5rem;
    }
    .drawing:hover .align_flex i{
        font-size: 6rem;
    }
    .drawing .align_flex h1{
        font-size: 1.6rem;
        padding-top: 1rem;
    }
    
    .photography{
        width: 13rem;
        height: 13rem;
        margin: 2rem 0 0;
    }
    .photography:hover{
        width: 15rem;
        height: 15rem;
    }
    .photography .align_flex i{
        padding-top: 1rem;
        font-size: 5rem;
    }
    .photography:hover .align_flex i{
        font-size: 6rem;
    }
    .photography .align_flex h1{
        font-size: 1.6rem;
        padding-top: 1rem;
    }
    .gallery div a h1{
        font-size: 3rem;
    }
    .about hr{
        margin-top: 2rem;
    }

    .gallery div button h1{
        font-size: 1.6rem;
    }
    
    .contact{
        height: 76.5625rem;
    }
    .contact .container{
        margin: -15rem 0;
        height: 90%;
        flex-direction: column;
    }
    .contact .container .social{
        margin: 2rem 0;
        width: 100%;
    }
    .contact .container .social .contact_info{
        width: 100%;
    }
    .container .container .contact_form{
        margin: 5rem 0;
        width: 100%;
    }
    .contact .container .contact_form form h1{
        font-size: 2.5rem;
    }
    .container .social .contact_info .text_info p{
        font-size: .8rem;
    }

}
